{% extends 'menus.html.twig' %}
{% block title %}Interoleo gestión | Listado de notificaciones{% endblock %}
{% block content %}
    <h3 class="page-title">
        Listado de notificaciones <small>Interoleo gestión</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/listar_notificacion">Listado de notificaciones</a>
            </li>
        </ul>
    </div>
    <div class="portlet box blue">
        <div class="portlet-title">

            <div class="caption">
                <i class="fa fa-cogs"></i>Listado de notificaciones
            </div>
            <div class="tools">
                <a title="" data-original-title="" href="javascript:;" class="collapse">
                </a>
                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="reload">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="remove">
                </a>
            </div>
        </div>
        {% if notificaciones or notisAdmin %}
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Contrato
                            </th>
                            <th>
                                Socio
                            </th>
                            <th>
                                Cisternas
                            </th>
                            <th>
                                Fecha de carga
                            </th>
                            <th>
                                Fecha de alta
                            </th>
                            <th>
                                Usuario creador
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if nombre['rol'] == 'Administrador' %}
                            {% for noti in notisAdmin %}
                                <tr>
                                    <td>
                                        {{ noti.id_contrato }}
                                    </td>
                                    <td>
                                        {{ noti.id_socio }}
                                    </td>
                                    <td>
                                        {{ noti.cisternas }}
                                    </td>
                                    <td>
                                        {{ noti.fecha_carga|date('d/m/Y H:i:s') }}
                                    </td>
                                    <td>
                                        {{ noti.fecha_alta|date('d/m/Y H:i:s') }}
                                    </td>
                                    <td>
                                        {{ noti.id_usuario_creador }}
                                    </td>
                                    <td>
                                        {{ noti.estado }}
                                    </td>
                                    <td>
                                        <form action="/" method="post">
                                            <button name="editar_noti" class="btn btn-icon-only blue" type="submit" value="">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button name="eliminar_noti" class="btn btn-icon-only red" type="submit" value="{{ noti.id }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                        {% for noti in notificaciones %}
                            <tr>
                                <td>
                                    {{ noti.boletin }}
                                </td>
                                <td>
                                    {{ noti.nombreSocio }}
                                </td>
                                <td>
                                    {{ noti.cisternas }}
                                </td>
                                <td>
                                    {{ noti.fecha_carga }}
                                </td>
                                <td>
                                    {{ noti.fecha_alta }}
                                </td>
                                <td>
                                    {{ noti.nombreCreador }}
                                </td>
                                <td>
                                    {{ noti.estado }}
                                </td>
                                <td>
                                    <form action="/" method="post">
                                        <button name="editar_noti" class="btn btn-icon-only blue" type="submit" value="{{ noti.id }}">
                                            <i class="fa fa-edit"></i>
                                        </button>

                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                                {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}