{% extends 'menus.html.twig' %}
{% block title %}Interoleo gestión | Listado de usuarios{% endblock %}
{% block content %}
    <h3 class="page-title">
        Listado de usuarios <small>Interoleo gestión</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/listar_usuario">Listado de usuarios</a>
            </li>
        </ul>
    </div>
    <div class="portlet box blue">
        <div class="portlet-title">

            <div class="caption">
                <i class="fa fa-cogs"></i>Listado de usuarios
            </div>
            <div class="tools">
                <a title="" data-original-title="" href="javascript:;" class="collapse">
                </a>
                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="reload">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="remove">
                </a>
            </div>
        </div>
        {% if usuarios %}
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellidos
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Rol
                        </th>
                        <th>
                            Notificaciones
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in usuarios %}
                    <tr>
                        <td>
                            {{ user.nombre_usuario }}
                        </td>
                        <td>
                            {{ user.nombre }}
                        </td>
                        <td>
                            {{ user.apellidos }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.rol }}
                        </td>
                        <td>
                            {% if user.notificaciones_carga == true %} Habilitado {% else %} No habilitado {% endif %}
                        </td>
                        <td>
                            <form action="/" method="post">
                            <button name="editar_user" class="btn btn-icon-only blue" type="submit" value="{{ user.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button name="eliminar_user" class="btn btn-icon-only red" type="submit" value="{{ user.id }}">
                                <i class="fa fa-trash"></i>
                            </button>
                            </form>
                        </td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    {% if mensajeOk %}
        <script type="text/javascript">
            $(function() {
                setTimeout(function() {
                    $.bootstrapGrowl("{{ mensajeOk }}", { type: 'success' });
                }, 1000);
            });
        </script>
    {% endif %}
    {% if mensajeOkeditar %}
        <script type="text/javascript">
            $(function() {
                setTimeout(function() {
                    $.bootstrapGrowl("{{ mensajeOkeditar }}", { type: 'success' });
                }, 1000);
            });
        </script>
    {% endif %}
{% endblock %}