{% extends 'menus.html.twig' %}
{% block title %}Interoleo gestión | Nuevo usuario{% endblock %}
{% block content %}
    <h3 class="page-title">
        Nuevo usuario <small>Interoleo gestión</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/nuevo_usuario">Nuevo usuario</a>
            </li>
        </ul>
    </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-user font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> NUEVO CONTRATO</span>
                </div>

            </div>
            <div class="portlet-body form">
                <form role="form" action="/" method="POST">
                    <div class="form-group form-md-line-input">
                        <input class="form-control" id="form_control_1" placeholder="Referencia" type="text" name="ref" maxlength="45" required="required">
                        <label for="form_control_1">Referencia</label>
                        <span class="help-block">Número de referencia del contrato</span>
                    </div>
                    <div class="form-group form-md-line-input">
                        <input class="form-control" id="form_control_2" type="text" name="bol" maxlength="45" required="required">
                        <label for="form_control_2">Boletín</label>
                        <span class="help-block">Boletín del contrato</span>
                    </div>                    
                    <div class="form-group form-md-line-input has-info">
                        <select multiple class="form-control" name="cooperativa[]" id="cooperativa">
                            {% if socios %}
                                {% for socio in socios %}
                                    <option value="{{ socio['id'] }}">{{ socio['nombre'] }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="form_control_1">Socio/s</label>
                    </div>
                    <div class="form-group form-md-line-input has-info">
                        <select class="form-control" id="form_control_14" name="corr">
                            <option>- Selecciona el corredor -</option>
                            {% if corredores %}
                                {% for corredor in corredores %}
                                    <option value="{{ corredor['id'] }}">{{ corredor['nombre'] }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="form_control_1">Corredor</label>
                    </div>
                    <div class="form-group form-md-line-input has-info">
                        <select class="form-control" id="form_control_14" name="com">
                            <option>- Selecciona el comprador -</option>
                            {% if compradores %}
                                {% for comprador in compradores %}
                                    <option value="{{ comprador['id'] }}">{{ comprador['nombre'] }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="form_control_1">Comprador</label>
                    </div>
                    <div class="form-group form-md-line-input">
                        <input class="form-control" id="form_control_3" type="text" name="fecha_alta" placeholder="aa/mm/dd" required="required">
                        <label for="form_control_3">Fecha de alta</label>
                        <span class="help-block">Fecha en la que se da de alta el contrato</span>
                    </div>
                    <div class="form-group form-md-line-input">
                        <input class="form-control" id="form_control_4" type="date" name="fecha_fin" required="required" placeholder="aa/mm/dd">
                        <label for="form_control_4">Fecha de fin de contrato</label>
                        <span class="help-block">Fecha en la que el contrato se considerará cerrado</span>
                    </div>
                    <div class="form-group form-md-line-input has-info">
                        <select class="form-control" id="form_control_14" name="calidad">
                            <option>- Selecciona la calidad -</option>
                            <option value="aovl">AOVL</option>
                            <option value="aove">AOVE</option>
                            <option value="aov">AOV</option>
                        </select>
                        <label for="form_control_1">Calidad</label>
                    </div>
                    <button type="submit" name="botonCreaContrato" class="btn blue"><span class="md-click-circle md-click-animate"></span>Crear</button>      
                    <a href="/" class="btn default">Cancelar</a>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
{% endblock %}